body{

    margin: 0 ;
    padding: 0;
    font-family: 'calibri light' ;

}

#linea{

    width: 100%;
    height: 5px;
    background: #f8f8f8;


}

#header{

    width: 100%;
    height: 90px;
    background:    #d6cd44;

}

#header #control{

    width: 800px;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin: auto;

}

#header #control #logo{

    width: 200px; border: 0px solid;
    float: left;
}

#header #control #logo h2,p{
    color: #fff;
    
}

#header #control #logo p{ /*para hacer que el subtitulo se mueva mas cerca al titulo*/

    margin-top: -20px;
}

/*menu*/

#header #menu{

    width: 580px;
    height: auto; overflow: hidden;
    border: 0px solid; 
    float: right;
    margin-top: 40px;
    text-align: right;
}

#header #menu ul li{

    display: inline-block;

}

#header #menu ul li a{

    color: rgb(255, 255, 255);
    text-decoration: none; 
    padding: 7px 10px;
    margin: 0px 4px;

}

#header #menu ul li a:hover{

    background:darkslategray;
    transition: background 1s;

}

/*-------------presentacion-------------*/

#presentacion{

    width: 100%;
    height: auto; overflow: hidden;
    background:    #dad030;

}

#presentacion #centro2{

    width: 800px;
    margin: auto;

}

#presentacion #centro2 #izquierda{

    width: 290px;
    border: 0px  solid;
    float: left;
}

#presentacion #centro2 #izquierda h2{

    color: #fff;
    font-weight: lighter;
}

.descripcion-pres{

    color: rgb(255, 255, 255);
    text-align: left;



}

.boton{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;

}

.boton:hover{

    background: #019e9e;
    color: darkslategray;


}

#presentacion #centro2 #derecha{

    width: 490px;
    height: auto; float: right;


}


.img{

    width: 400px;
    height: 180px;
    border: 0px solid #ffffff;
    margin: 30px 10px;
    float: right;

}



/*contenidos*/

#contenidos{
    background: #f2f2f2;
    padding: 0px 0px 20px 0px;;

}

#contenidos-paginas{

    background: #fff;
    padding: 0px 0px 20px 0px;

}



#contenidos #centro3{

    width: 800px;
    margin: auto; border: 0px solid; height: auto; overflow: hidden;
    text-align: center;

}

#contenidos #centro3 #izquierda{

    width: 390px;
    height: auto; overflow: hidden;
    border: 0px solid;
    float: left;

}

#contenidos #centro3 #izquierda h3{

    color: #0b615e;

}

#contenidos #centro3 #izquierda .descripcion{
 
   text-align: left; color: #6e6e6e;

}

.img-servicios{
    width: 120px; height: 100px; display: inline-block;
    padding: 2px; border: 0px solid #ccc;
    

}

/*---------------contenidos derecha----------*/

#contenidos #centro3 #derecha{

    width: 390px;
    height: auto; overflow: hidden;
    border: 0px solid;
    float: right;

}



#contenidos #centro3 #derecha .descripcion-derecha{

    text-align: left; color: #6e6e6e;
}

#contenidos #centro3 #derecha h3{

    text-align: left;
    font-size: 30px;
    color: #0b615e;

}

#contenidos #centro3 #derecha article{

    width: 100%;
    height: auto; overflow: hidden;
    margin-top: -20px;
    margin-bottom: 20px;

}

#contenidos #centro3 #derecha article p{

    color: #6e6e6e; text-align: left;
    margin-top: -22px;

}

.leer-mas{

    color: darkslategray;
    text-decoration: none; 
    padding: 7px 10px;
    margin: 0px 4px;
    padding: 4px 10px;
    background: #086a87;
    text-decoration: none;
    float: left;
    border-radius: 5px;
    color: #fff; border: 0px;
    margin-top: -15px;
}
/*pagina link 1*/

#contenidos-paginas #centro3 #descripcionlink{
    color: darkslategray;

}

#centro3{

    width: 800px;
    margin:auto; border: 0px solid; height: auto; overflow: hidden;
    text-align: center;


}

.encabezados{

    font-family: 'Arial black';
    font-size: 30px;

}

.t1{
    color: #2e2e2e;

}

.t2{
    color: #0489b1;

}

.descripcion-pagina{

    color: #848484;

}

.texto-nosotros{

    text-align: left;
    
}

br{
    border-top: 0px;


}

.img-nosotros{
    
    float: left;
    width: 300px;
    height: 180px;
    border: 0px solid #064154;
    margin-right: 7px;
    
}

#filosofia{

    height: auto; overflow: hidden;

}

#mision, #vision, #valores{

    width: 245px;
    height: auto; overflow: hidden;
    border: 0px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
}

#vision{

    margin-right: 15px;
    margin-left: 15px;

}

.img-filosofia{
    
    
    width: 300px;
    height: 180px;
    border: 0px solid #064154;
    
    
}


/*-----footer-----*/


#footer{

    width: 100%;
    height: 40px;
    background:  #d6cd44;
    text-align: center;

}